

.loading-color-bar-wrapper {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.loading-color-bar {
  width: 3000px;
  height: 1px;
  animation: rotate 2s infinite linear;
  background: linear-gradient(
      to right,
      rgba(48,255,144,1) 0%,
      rgba(237,45,237,1) 25%,
      rgba(201,152,38,1) 50%,
      rgba(48,255,230,1) 75%,
      rgba(48,255,144,1) 100%
  );
}

@-webkit-keyframes rotate {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0;
  }
}

@keyframes rotate {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0;
  }
}